import type { CapacitorConfig } from '@capacitor/cli';

const config: CapacitorConfig = {
  appId: '{{ capacitor_app_id }}',
  appName: '{{ frontend_app_name }}',
  webDir: 'www'
};

export default config;
