.git
.github
.idea
.venv
__pycache__/
*.py[cod]
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/

backend/db.sqlite3
backend/mediafiles
backend/staticfiles
frontend/node_modules
frontend/www
frontend/.angular
frontend/.vscode
frontend/test-results
frontend/playwright-report
frontend/coverage

firebase-creds.json
pgdata
redis

.DS_Store
