ALLOWED_HOSTS="'localhost','127.0.0.1'"
CSRF_TRUSTED_ORIGINS="'http://localhost:8080'"
SECRET_KEY=change-me
DB_HOST=postgresql
DB_USER=django
DB_PASSWORD=django
DB_NAME=django
{% if use_celery -%}
REDIS_STRING=redis://:django@valkey:6379/0
{% endif -%}
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
SENTRY_DSN=
SENTRY_ENVIRONMENT=production
{% if enable_push_notifications -%}
FIREBASE_SERVICE_ACCOUNT_FILE=/home/app/web/firebase-creds.json
{% endif -%}
FRONTEND_URL={{ frontend_url }}
BACKEND_URL={{ backend_url }}
SILKY_INTERCEPT_PERCENT=0

BACKEND_IMAGE_VERSION=0.1.0
