version: '2'
services:
{% if use_celery -%}
  valkey:
    image: valkey/valkey:9
    ports:
      - "6379:6379"
    command: ["valkey-server", "--requirepass", "django"]

{% endif -%}
  postgresql:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      - "POSTGRES_USER=django"
      - "POSTGRES_PASSWORD=django"
      - "POSTGRES_DB=django"
      - "PGDATA=/var/lib/postgresql/data/pgdata"
