DEBUG = True
ALLOWED_HOSTS = ['*']
INTERNAL_IPS = []
SECRET_KEY = 'change-me'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'django',
        'USER': 'django',
        'PASSWORD': 'django',
        'HOST': 'localhost',
        'PORT': '',
        "OPTIONS": {
            "pool": True,
        },
    }
}
{% if use_celery -%}
CHANNEL_LAYERS = {
    'default': {
        'BACKEND': 'channels_redis.core.RedisChannelLayer',
        'CONFIG': {
            'hosts': [('redis://:django@localhost:6379/0')],
        },
    },
}
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.redis.RedisCache',
        'LOCATION': 'redis://:django@localhost:6379',
    }
}
CELERY_BROKER_URL = 'redis://:django@localhost:6379/0'
{% endif -%}
SENTRY_DSN = ''
SENTRY_ENVIRONMENT = 'local-dev'
SILKY_INTERCEPT_PERCENT = 100
FRONTEND_URL = '{{ frontend_url }}'
BACKEND_URL = '{{ backend_url }}'
