from enhanced_drf_jsonapi.api import ReasonableModelSerializer
from rest_framework import serializers

from {{ python_package_name }}.models import User
from {{ python_package_name }}.models import ExampleMessage


class AbsoluteImageField(serializers.ImageField):
    def to_representation(self, value):
        if not value:
            return None

        representation = super().to_representation(value)
        request = self.context.get('request')
        if request is None:
            return representation

        return request.build_absolute_uri(representation)


class ExampleMessageSerializer(ReasonableModelSerializer):
    class Meta:
        model = ExampleMessage
        fields = [
            'title',
            'body',
            'created_at',
        ]
        extra_kwargs = {
            'title': {'read_only': True},
            'body': {'read_only': True},
            'created_at': {'read_only': True},
        }


class ExampleProfileSerializer(ReasonableModelSerializer):
    profile_photo = AbsoluteImageField(required=False, allow_null=True)

    class Meta:
        model = User
        fields = [
            'email',
            'first_name',
            'last_name',
            'profile_photo',
        ]
        extra_kwargs = {
            'email': {'read_only': True},
        }
